header {
    background-color: #244751;
    color: #E8FDFF;
}

body {
    margin-top: 20px;
    background-color: whitesmoke;
    font-family: 'Inter', sans-serif;
  }

  main {
    background-color: white;
    padding: 16px;
    margin-top: 30px !important;
  }

  .nav-main {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    top:0;
    width:100%;
  }
 


  li {
    display: inline;
  }



  .finstagram-post {
    margin-bottom: 48px;
    text-decoration: underline dotted;

  }

  .finstagram-post .user-info img {
    border-radius: 50%;
    
  }

 

  a.photo {
    transition: padding 0.5s;
  }

  a.photo:hover {
    padding:10px;
  }

  

