<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!--<body>
    <h1>Header #1</h1>
    <h2>header 2</h2>
    <h3>header 3</h3>
    <h4>header 4</h4>
    <h5>header 5</h5>
    <h6>header 6</h6>

    <p>this is a paragraph</p>
    <p>this is another paragraph</p>

    #comment no header no margin just a piece of text
    <span>just a span text</span>

    <b>bold text text</b>
    <b>another bold text</b>

    <i>im an italic text</i>
    <i>just another italic</i>

    <ul>
        <li>this is an item</li>
        <li>another item</li>
        <li>more items</li>
    </ul>

    <ol>
        <li>this 1</li>
        <li>this 2</li>
        <li>this 3</li>
    </ol>

    <img src="https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cmFuZG9tfGVufDB8fDB8fA%3D%3D&w=1000&q=80" width="300" 
    height="280" alt="banana picture">
    #anchor tag
    <a href="https://www.apple.com/ca/">apple</a>

    <div>  
        <p>some paragraph here</p>
    </div>

    <div>  
        <a href="https://www.google.com">Google</a>
    </div>

    <header>
        <p>header of the website</p>
    </header>

    <nav>
        <p>navigation links</p>

    </nav>

    <section>
            <div></div>
            <div></div>
            <div></div>
    </section>

    <footer>
        
    </footer>
</body>-->

<body>
<header>  <h1>welcome to nastasia web page</h1></header>
<nav>

    <ul>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">About me</a></li>
        <li><a href="#">Contact me</a></li>
    </ul>
    </nav>

<section>
    <p>learning development</p>
    <img src="https://i.pinimg.com/originals/bc/ce/f3/bccef3acf376bba141d56eb0d8fcfc09.jpg" width=332 height=233 alt="dev logo">
</section>

<section>
    <div>
        <p>look at my <b>portfolio</b></p>
    </div>

</section>

<footer>    
    <p>tel 234234-4234-4234</p> 
    <p>email: gooddev@gmail.com</p>
    <p>address toronto on</p>
</footer>




</body>
</html>