<header>
<!--based on current user displays link, only displays name if current user is logged in-->
  <h1>Finstagram</h1>
  <div class="login-info">
    <% if @current_user %>
      <%= @current_user.username %>
      <a href="/logout">Logout</a>
    <% else %>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    <% end %>
  </div>
</header>


<%= @error_message if @error_message %>

<main>
    <form action="/login" method="POST">
    <div class="form-group">
        <label>Username</label>
        <input type="text" id="username" name="username" placeholder="Enter username">
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="password" id="password" name="password">
    </div>

    <div class="form-group">
        <button class="button" type="submit" action='/login'>Login</button>
    </div>


    </form>




</main>